.vouch-list {
  .vouch-detail {
    background-color: rgba(128, 128, 128, 0.06);
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
  }

  .vouch-errors {
    border-top: 1px dashed rgba(220, 53, 69, 0.4);
    padding-top: 0.5rem;
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
